body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top {
  background-color: #cae8d5;
  width: 100%;
  height: 665px;
  position: relative;
  padding-top: 100px;
  margin: 0;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 200px;
  height: 50px;
}

.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  width: 200px;
  height: 50px;
}

.mountain {
  position: relative;
  height: 380px;
}

h1 {
  font-size: 5.652rem;
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2{
    color: #11999E;
    line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  line-height: 2;
}

.one {
  border-radius: 50%;
  line-height: 2;
}

.two2{
  width: 25%;
  float: left;
  padding-right: 30px;
}

.three{
  width:25%;
  float: right;
  padding-left: 30px;
}

.para {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 0;
}

p1{
  color: #40514E;
  line-height: 2;
}

.profile1{
  width: 50%;
  margin: 100px auto 100px auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

hr{
  width: 30%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width:2px;
  padding: 10px 0 50px 0;

}


.i1 {
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

.i2 {
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

.i3 {
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

.contact-me{
  padding-bottom: 20px;
  width: 50%;
  margin: 0px auto auto auto;
}

.last{
  color: #EAF6F6;
  line-height: 2;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    line-height: 2;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #66BFBF;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.styled:hover {
    background-color:#66BFBF;
}
a{
  color: white;
  text-decoration: none;
  font-weight: normal;
}
.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bottom-container{
    background-color: #66BFBF;
    margin-bottom: 0;
    padding: 20px 0 10px 0;
}
